body {
    background-color: lightgray;
    padding-top: 50px;
    font-family: "Vollkorn SC";
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.1)),url("https://legacy.lib.utexas.edu/maps/historical/world_cyclopedia_1820.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, cover;
    background-attachment: fixed;


}

.navbar-default {
    background-color: gray;
    border: none;
    box-shadow: 2px 2px black;
}


.navbar-default .navbar-brand {
    color: white;
    text-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: auto;

}

.navbar-default .navbar-nav > li > a {
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-size: 25px;
    padding: auto;

}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #f0f5f5;
    border: 0;
    padding: 15px;

}
.welcome {
    background-color: gray;

}
#topMap {
    padding: 15px;
}

h2 {
    font-weight: bold;
    margin: 0 auto;
    padding: 15px;
}

p {
    font-size: 25px;
    font-style: italic;
    font-family: Norasi;
    padding-top: 13px;
}

.about h2 {
    margin-top: 30px;
}

.about p {
    font-size: 25px;
    font-family: Norasi;

}


#worksNav {
    background-color: #e0e0d1;

}

.img-responsive {
    width: auto;
    height: 400px;

}

.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
}



















