* {
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

html {
    font-size: 8px;
    font-family: 'Vollkorn', serif;
    height: 100%;
    color: #596275;
}

body {
    min-height: 100%;
    border: 5px solid #596275;
    overflow: hidden;
}

.bar {
    width: 90%;
    background: #fff;
    height: 8px;
    margin: 4px auto;
    border-radius: 2px;
    transition: all ease-in-out 0.3s;
}

.bar-1.active{
    -webkit-transform: translate(0px,12px) rotate(45deg);
    transform: translate(0px,12px) rotate(45deg);
}

.bar-2.active{
    opacity: 0;
}

.bar-3.active{
    -webkit-transform: translate(0px, -12px) rotate(-45deg);
    transform: translate(0px, -12px) rotate(-45deg);
}

.navigation-list {
    list-style-type: none;
    display: block;
    flex-direction: column;
    text-align: center;
    background: #CCC7C3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.navigation-list.closed {
    height: 161px;
}

.menu-hamburger {
    width: 100%;
    background: #596275;
}

.hamburger-icon {
    margin: 0 auto;
    width: 50px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all linear .3s;
    padding: 4px;
    z-index: 1;
}

.list-item{
    padding: 1rem;
    transition: 0.3s ease;
}

.list-item a {
    text-decoration: none;
    color: #596275;
    font-size: 2rem;
}

.list-item:hover,
.social-icon-container:hover {
    background: #596275;
}

.list-item:hover > a,
.social-icon-container:hover > li a {
    color: #CCC7C3;
}

.social-icon {
    display: inline;
    font-size: 2rem;
    margin: 0 10px;
}

.social {
    display: none;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }

    .navigation-list {
        display: flex !important;
        flex-direction: row;
        background: none;
        justify-content: flex-end;
        overflow: unset;
        position: absolute;
        transition: 1s ease-in-out all;
        right: -150px;
    }

    .navigation-panel {
        overflow: hidden;
    }

    .social {
        display: inline-block;
    }

    .social-list-item li {
        display: inline-block;
    }

    .shift {
        right: 0;
    }

    /* Menu items hover effect */

    .list-item:hover,
    .social-icon-container:hover {
        background: none;
    }

    .list-item:hover > a,
    .social-icon-container:hover > li a {
        color: unset;
    }

    .navigation-list .list-item.anchor-element,
    .navigation-list .list-item.anchor-element:after,
    .navigation-list .list-item.anchor-element:before {
        transition: all 0.5s;
    }

    .navigation-list .list-item.anchor-element:hover {
        color: #000;
    }

    .navigation-list .list-item.anchor-element {
        position: relative;
    }

    .navigation-list .list-item.anchor-element:after {
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        content: '';
        color: transparent;
        background: #596275;
        height: 1px;
    }

    .navigation-list .list-item.anchor-element:hover:after {
        width: 100%;
    }
    .social-icon span {
        transition: 0.5s ease-in-out;
    }
    .social-icon span:hover {
        color: #000;
        transform: scale(1.1) rotate(45deg);
    }

}
